.posts{
    flex: 10;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
@media only screen and (max-width: 600px) {
    .posts{
        flex: 12;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
}
